@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@500;600&family=Fraunces:ital,opsz,wght@0,9..144,700;1,9..144,900&display=swap");
$secondary: hsl(51, 100%, 49%);
$danger: hsl(7, 99%, 70%);
$success: hsl(210, 4%, 67%);
$dark: hsl(213, 9%, 39%);
$warning: hsl(168, 50%, 71%);
$info: hsl(167, 40%, 24%);
$primary: hsl(168, 34%, 41%);
$btn-border-radius: 30px;
$btn-padding-x: 25px;
$btn-padding-y: 0.8rem;



$navbar-padding-y: 35px;

$font-family-sans-serif: "Barlow", sans-serif;

@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "../node_modules/@fortawesome/fontawesome-free/css/all.min.css";

body {
  font-size: 18px !important;
}
header {
  background-image: url(../images/desktop/image-header.jpg);
  background-size: 100% 100%;
  height:100vh;
  background-repeat: no-repeat;
}
.nav-item {
  padding: 0 13px;
}
.font-serif {
  font-family: "Fraunces", serif;
}
.hero {
  letter-spacing: 0.5rem;
}
.text-shadow {
  height: 5px;
}
.w-15 {
  width: 15%;
}
.w-90 {
  width: 90%;
}
.btn-light:hover {
  background-color: #65ceff;

  color: #fff;
}
.learn-bg {
  width: 120px;
}

.learn-more {
  cursor: pointer;
}
.photo-text {
  width: 400px;
}
@media screen and (max-width: 600px) {
  header {
    background-image: url(../images/mobile/image-header.jpg);
    background-size: 100% 100%;
    height: 538px;
    background-repeat: no-repeat;
  }
  .person-title {
    font-size: 15px !important;
    letter-spacing: 5px;
  }
  .learn-more {
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
  }
  .learn-bg {
    margin: auto;
  }
  .photo-text {
    width: 300px;
  }
 
  

  
  
}
